**/.DS_Store
**/~$*
**/Backup*
**/bin/*
**/torgo/*
**/uaspeech/*
**/results/**/results*.csv
**/results/archive/*
**/results/debug/*
**/results/**/predictions*.csv
**/results/**/*dann*/*
results/dependent/old_data/*
logs/*
models/*
doc/deliverables/*
backup-models/*
scripts/logs/*
**/*.doc
**/*.docx
**/__pycache__/